@import url(../../fonts/Bariol_Regular_Italic_Webfont/stylesheet.css);
@import url(../../fonts/Bariol_Regular_Webfont/stylesheet.css);
@import url(../../fonts/Bariol_Regular_Light_Webfont/stylesheet.css);
@import url(../../fonts/Bariol_Regular_Bold_Webfont/stylesheet.css);
@import url(../../fonts/Bariol_Serif_Regular_Webfont/stylesheet.css);
html, body {
  margin: 0px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0px; }

a {
  text-decoration: none; }

a img {
  border: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
/*
bariolregular_italic
bariol_regularregular
bariol_serif_regularregular
bariolregular_light
bariolregular_bold
*/
body {
  font-family: 'bariol_regularregular';
  -webkit-font-smoothing: antialiased; }

.centeredContainer {
  position: relative;
  max-width: 1180px;
  margin: 0px auto;
  padding-right: 20px; }

h2 {
  font-family: 'bariolregular_light';
  font-size: 80px;
  color: #6cbca8;
  font-weight: 400; }
  h2 strong {
    font-family: 'bariolregular_bold'; }

header {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 147px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease; }
  header.fixed {
    height: 75px; }
    header.fixed .centeredContainer .logo img {
      height: 58px; }
  header .centeredContainer {
    height: 100%; }
    header .centeredContainer .logo {
      display: inline-block;
      position: relative;
      margin-left: 15px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      header .centeredContainer .logo img {
        height: 96px;
        transition: all 0.2s ease; }
    header .centeredContainer .menu {
      position: absolute;
      top: 50%;
      right: 30px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      header .centeredContainer .menu a {
        display: inline-block;
        padding: 15px 30px;
        margin: 0px 0px 0px 5px;
        border-radius: 30px;
        font-family: 'bariolregular_bold';
        color: #99d6c9;
        font-size: 18px;
        transition: all 0.2s ease; }
        header .centeredContainer .menu a:hover {
          background-color: #99d6c9;
          color: #fff; }

.headerImageBloc {
  position: relative;
  height: 753px;
  background-image: url("../../images/header-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 75px; }
  .headerImageBloc .centeredContainer {
    height: 100%; }
    .headerImageBloc .centeredContainer .textContainer {
      position: relative;
      left: 0px;
      top: 50%;
      margin-left: 15px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      .headerImageBloc .centeredContainer .textContainer p {
        font-size: 100px;
        font-family: 'bariolregular_bold';
        color: #fff;
        line-height: 102px; }

.intoTextBloc {
  padding: 140px 0px 150px 0px;
  background-color: #f4f5ec; }
  .intoTextBloc .centeredContainer .camilleInfos {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 15px; }
    .intoTextBloc .centeredContainer .camilleInfos .name {
      font-family: 'bariolregular_bold';
      font-size: 25px;
      color: #6cbca8;
      text-align: right;
      margin-top: 45px; }
    .intoTextBloc .centeredContainer .camilleInfos .infos {
      margin-top: 15px;
      color: #8d898c;
      font-family: 'bariolregular_light';
      font-size: 25px;
      text-align: right;
      line-height: 1.0em; }
  .intoTextBloc .centeredContainer .textContent {
    margin-left: 390px; }
    .intoTextBloc .centeredContainer .textContent h2 {
      line-height: 1.0em; }
    .intoTextBloc .centeredContainer .textContent p {
      font-family: 'bariol_serif_regularregular';
      color: #8d898c;
      font-size: 18px;
      line-height: 1.3em;
      margin-top: 45px; }
      .intoTextBloc .centeredContainer .textContent p.first {
        font-size: 25px;
        font-family: 'bariolregular_light';
        font-style: italic; }
    .intoTextBloc .centeredContainer .textContent .intoText3 p {
      color: #8d898c;
      font-family: 'bariolregular_light';
      font-size: 25px;
      line-height: 1.0em; }
      .intoTextBloc .centeredContainer .textContent .intoText3 p strong {
        font-family: 'bariol_regularregular';
        font-weight: normal;
        padding-bottom: 9px;
        display: inline-block; }
      .intoTextBloc .centeredContainer .textContent .intoText3 p.left {
        float: left;
        margin-right: 80px; }
      .intoTextBloc .centeredContainer .textContent .intoText3 p.right {
        float: left; }
    .intoTextBloc .centeredContainer .textContent .tags {
      margin-top: 10px; }
      .intoTextBloc .centeredContainer .textContent .tags .tag {
        width: 290px;
        margin-right: 50px;
        margin-top: 50px;
        float: left;
        font-family: 'bariolregular_bold';
        font-style: italic;
        color: #8d898c;
        font-size: 25px; }
        .intoTextBloc .centeredContainer .textContent .tags .tag.third {
          width: 515px;
          clear: both; }
        .intoTextBloc .centeredContainer .textContent .tags .tag img {
          display: block;
          float: left; }
        .intoTextBloc .centeredContainer .textContent .tags .tag span {
          display: inline-block;
          padding-top: 10px;
          margin-left: 20px; }
          .intoTextBloc .centeredContainer .textContent .tags .tag span.mobile {
            display: none; }

.routineBloc {
  position: relative;
  padding: 110px 0px 120px 0px; }
  .routineBloc .sideImage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 33%;
    height: 100%;
    background-image: url("../../images/routine-side.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right; }
  .routineBloc .textContent {
    margin: 0px 8% 0px 33%;
    padding: 0px 0px 0px 35px; }
    .routineBloc .textContent .subtitle {
      font-family: 'bariol_regularregular';
      color: #6cbca8;
      font-size: 18px;
      line-height: 1.3em;
      margin-left: 5px; }
    .routineBloc .textContent .list {
      color: #8d898c;
      margin: 70px 0px 0px 0px; }
      .routineBloc .textContent .list .row {
        position: relative;
        line-height: 1.3em; }
        .routineBloc .textContent .list .row:nth-child(odd) {
          background-color: #f4f5ec; }
        .routineBloc .textContent .list .row .time {
          position: absolute;
          top: 50%;
          left: 0px;
          display: inline-block;
          width: 200px;
          text-indent: 25px;
          font-family: 'bariolregular_light';
          font-style: italic;
          font-size: 25px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
        .routineBloc .textContent .list .row .desc {
          margin-left: 200px;
          display: inline-block;
          font-size: 18px;
          font-family: 'bariol_serif_regularregular';
          padding: 15px 0px; }

.contactBloc {
  background-color: #e3f3ef;
  padding: 125px 0px 140px 0px; }
  .contactBloc .centeredContainer .mapContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 15px; }
  .contactBloc .centeredContainer .textContent {
    margin-left: 390px;
    color: #8d898c; }
    .contactBloc .centeredContainer .textContent h3 {
      font-family: 'bariolregular_bold';
      font-size: 25px;
      color: #6cbca8;
      margin-top: 50px; }
    .contactBloc .centeredContainer .textContent .phones {
      margin: 40px 0px; }
      .contactBloc .centeredContainer .textContent .phones .phone {
        font-size: 18px;
        font-family: 'bariol_serif_regularregular'; }
        .contactBloc .centeredContainer .textContent .phones .phone span {
          display: inline-block;
          font-family: 'bariolregular_light';
          font-style: italic;
          font-size: 25px;
          width: 145px; }
    .contactBloc .centeredContainer .textContent .address {
      font-size: 18px;
      font-family: 'bariol_serif_regularregular';
      line-height: 1.5em; }
      .contactBloc .centeredContainer .textContent .address a {
        color: #8d898c;
        text-decoration: none; }
    .contactBloc .centeredContainer .textContent .writeUs {
      margin-top: 30px; }
    .contactBloc .centeredContainer .textContent .emailLink {
      display: inline-block;
      font-size: 18px;
      font-family: 'bariol_serif_regularregular';
      color: #8d898c;
      margin-top: 5px;
      border-bottom: 1px solid #cad5d3; }

@media screen and (max-width: 1100px) {
  h2 {
    font-size: 64px; } }
@media screen and (max-width: 940px) {
  header {
    height: 75px; }
    header .centeredContainer .logo img {
      height: 58px; }

  .headerImageBloc .centeredContainer .textContainer {
    margin-left: 35px; }

  .intoTextBloc .centeredContainer .camilleInfos {
    display: none; }
  .intoTextBloc .centeredContainer .textContent {
    margin-left: 35px; }

  .routineBloc .sideImage {
    display: none; }
  .routineBloc .textContent {
    margin: 0px;
    padding: 0px 35px; }

  .contactBloc .centeredContainer .mapContainer {
    display: none; }
  .contactBloc .centeredContainer .textContent {
    padding: 0px 35px;
    margin-left: 0px; } }
@media screen and (max-width: 800px) {
  header .centeredContainer .menu .dekstop-only {
    display: none; } }
@media screen and (max-width: 650px) {
  h2 {
    line-height: 0.8em;
    margin-bottom: 20px; } }
@media screen and (max-width: 600px) {
  h2 {
    font-size: 70px; }

  .headerImageBloc {
    height: 400px; }

  .headerImageBloc .centeredContainer .textContainer p {
    font-size: 60px;
    line-height: 64px; }

  .intoTextBloc {
    padding-top: 70px;
    padding-bottom: 100px; }

  .intoTextBloc .centeredContainer .textContent .tags .tag {
    font-size: 20px;
    margin-right: 15px;
    float: none; }

  .intoTextBloc .centeredContainer .textContent .tags .tag.third {
    width: auto; }

  .intoTextBloc .centeredContainer .textContent .tags .tag span.desktop {
    display: none; }

  .intoTextBloc .centeredContainer .textContent .tags .tag span.mobile {
    display: inline-block;
    padding-top: 0px;
    margin-top: -13px; }

  .routineBloc {
    padding-top: 60px;
    padding-bottom: 100px; }

  .routineBloc .textContent .list .row .time {
    font-size: 20px;
    text-indent: 15px; }

  .routineBloc .textContent .list .row .desc {
    margin-left: 150px;
    font-size: 16px; }

  .contactBloc {
    padding-top: 60px; } }
@media screen and (max-width: 400px) {
  h2 {
    font-size: 50px; }

  .centeredContainer {
    padding-right: 10px; }

  .headerImageBloc .centeredContainer .textContainer,
  .intoTextBloc .centeredContainer .textContent {
    margin-left: 10px; }

  .routineBloc .textContent,
  .contactBloc .centeredContainer .textContent {
    padding: 0px 10px; }

  .intoTextBloc .centeredContainer .textContent .tags .tag {
    font-size: 18px; }

  .intoTextBloc .centeredContainer .textContent .tags .tag span {
    padding-top: 18px; }

  .intoTextBloc .centeredContainer .textContent .tags .tag span.mobile {
    margin-top: -3px; }

  .routineBloc .textContent .list .row .time {
    text-indent: 10px;
    font-size: 17px; }

  .routineBloc .textContent .list .row .desc {
    margin-left: 122px; } }

/*# sourceMappingURL=style.css.map */
