@font-face {
    font-family: 'bariolregular_light';
    src: url("bariol-light.eot");
    src: url("bariol-light.eot?#iefix") format("embedded-opentype"), url("bariol-light.woff2") format("woff2"), url("bariol-light.woff") format("woff"), url("bariol-light.ttf") format("truetype");
    font-weight: 100;
    font-style: normal
}